= form_for @user do |f|
  So you are attending #{@meeting.name}, huh?
  And what's your name?
  .field
    = f.label :name
    = f.text_field :name, :id => 'name'
    = f.hidden_field :meeting_id, :value => @meeting.id
    = f.submit 'Attend'
